@font-face {
    font-family: 'GEETYPE-KaiTiGBT-Flash';
    src: url('/static/fonts/GEETYPE-KaiTiGBT-Flash.woff2') format('woff2'),
        url('/static/fonts/GEETYPE-KaiTiGBT-Flash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

